.containerProjectDetail{
    margin-top: 6em;
    margin-bottom: 2em;
    padding: 0em 2em;
}

.containerProjectDetail h1{
    text-decoration: underline #FFD00D;
    margin-bottom: 0;
}

.serviceFormContainer h2{
    margin-bottom: 0;
}