hr{
    border: 2px solid #787878;
}

.containerProjectDetail{
    margin-top: 6em;
    margin-bottom: 2em;
    padding: 0em 2em;
}

.containerProjectDetail h1{
    text-decoration: underline #FFD00D;
    margin-bottom: 0;
}

.containerProjectDetail form{
    border: none;
    background-color: transparent;
    width: 100%;
    padding: 0;
    margin: 2em 0;
}

.containerProjectDetail input{
    border: 2px solid #191919;
}

.containerProjectDetail select{
    border: 2px solid #191919;
}

.containerProjectDetail textarea{
    border: 2px solid #191919;
}

.containerProjectDetail span{
    color: #191919;
}

.serviceFormContainer{
    min-height: 30vh;
}

.serviceFormContainer h2{
    margin-bottom: 0;
}

.serviceContainer{
    min-height: 30vh;
}

.serviceContainer span{
    color: #FFD00D;
}

.containerServiceCards{
    display: flex;
    flex-wrap: wrap;
}