.companyContainer{
    margin-top: 6em;
    margin-bottom: 2em;
    padding: 0 2em;
}

.companyContainer h1 span{
    padding: 0.1em;
    background-color: #191919;
    color: #ffffff;
    text-decoration: underline #FFD00D;
}

@media screen and (max-width: 800px){
    .companyContainer{
        margin-top: 4em;
    }
}

@media screen and (min-width: 1440px){
    .companyContainer{
        margin-top: 10em;
    }
}

