.welcomeContainer{
    margin-top: 6em;
    margin-bottom: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.welcomeCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcomeCard img{
    width: 50%;
}

.welcomeCard h1{
    color: #191919;
    margin: .5em;
}

.welcomeCard h2{
    margin: .5em;
    padding: 0 0.2em;
    color: #ffffff;
    text-decoration: underline 2px #FFD00D;
    background-color: #191919;
}

.welcomeCard p{
    margin: .5em;
    color: #454545;
}

.linksContainer{
    padding: 1em;
}

.linksContainer a{
    margin: .5em;
}

@media screen and (max-width: 800px){
    .welcomeContainer{
        margin-top: 2em;
    }

    .welcomeCard{
        text-align: center;
    }

    .welcomeCard h1{
        margin: 0;
    }

    .linksContainer{
        display: flex;
        flex-wrap: nowrap;
        padding: 0;
    }
}

@media screen and (min-width: 1440px){
    .welcomeContainer{
        margin-top: 9em;
    }
}
  
  