:root {
  line-height: 1.5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
  min-width: 320px;
  background-color: #b7b7b7;
}

input::placeholder,
textarea::placeholder {
  font-family: 'Montserrat', sans-serif;
}

input:focus,
textarea:focus {
  outline: none;
}

form{
  width: 40%;
  margin: 0 auto;
  padding: 2em;
  border-radius: 10px;
  background-color: #191919;
  border: 3px solid #FFD00D;
}

label {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

label span{
  color: #f9f9f9;
  font-weight: bold;
  text-align: left;
  margin-bottom: 0.2em;
}

input{
  background-color: #f9f9f9;
  opacity: 0.5;
  border: none;
  border-radius: 10px;
  padding: 1em 0.5em;
  transition: 0.5s;
  border: 3px solid #FFD00D;
}

input:focus{
  opacity: 1;
}

.btnForm{
  padding: 0.5em 1em;
  border-radius: 10px;
  border: 2px solid #FFD00D;
  background-color: #191919;
  margin-top: 1em;
  font-weight: bold;
  color: #ffffff;
  cursor: pointer;
  transition: 1s;
}

.btnForm:hover{
  background-color: #FFD00D;
  color: #000000;
}

.err{
  width: 25%;
  margin: 1em auto;
  background-color: #d47c7c;
  font-weight: bold;
  color: #d61212;
  border-radius: 25px;
  border: 1px solid #d61212;
  padding: 0.2em 0.5em;  
}

.success{
  width: 25%;
  margin: 1em auto;
  background-color: #7dcd76;
  font-weight: bold;
  color: #1c9b0e;
  border-radius: 25px;
  border: 1px solid #26d612;
  padding: 0.2em 0.5em;  
}

textarea {
  height: 10em;
  background-color: #f9f9f9;
  opacity: 0.5;
  border: none;
  border-radius: 25px;
  padding: 1em 0.5em;
  transition: 0.5s;
}

textarea:focus {
  opacity: 1;
}

.returnBtn{
  font-size: 2em;
}

.returnBtn svg{
  color: #171717;
}

.btnModal{
  padding: 0.5em 1em;
  border-radius: 10px;
  border: 2px solid #FFD00D;
  background-color: #191919;
  margin-top: 1em;
  margin: auto;
  font-weight: bold;
  color: #ffffff;
  cursor: pointer;
  transition: 1s;
}

.btnModal:hover{
  background-color: #FFD00D;
  color: #000000;
}

.btnModal svg{
  margin-right: .5em;
}

.modalContainer{
  background-color: #171717;
  color: #f9f9f9;
  width: 80%;
  max-width: 500px;
  border-radius: 10px;
  padding: 1em;
  margin: 12em auto;
  display: flex;
  flex-direction: column;
  
}

.modalDeleteHeader{
  display: flex;
  justify-content: space-between;
}

.modalDeleteHeader h2{
  margin: 0;
}

.modalDeleteHeader button{
  font-weight: bold;
  font-size: 2em;
  background-color: transparent;
  border: none;
  color: #d61212;
  cursor: pointer;
}

@media screen and (max-width: 600px){
  form{
    width: 70%;
    margin: 0 auto;
  }
  
  .err{
    width: 50%;
  }
  
  .success{
    width: 50%;
  }
  
}